* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: medium;
  color: white;
  margin: 0%;
  padding: 0%;
}
.flex-container {
  display: inline-block;

  /* background-color: #9febe1; */
}
body {
  background-image: url(dogs_fon.jpg);
  background-size: 180%;
}
.hamburger-menu {
  margin: 15px;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 150px;
  height: 30%;
  margin: 0;
  padding: 70px 0;
  list-style: none;
  background-color: #46a3e0;
  box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.4s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

.main {
  display: block;
  box-sizing: 100%;
  margin: 5px;
}
.card {
  border-radius: 20px;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  float: left;
  font-size: 40px;
  background: dodgerblue;
  margin-top: 6px;
  width: 31%;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}
.card:hover {
  opacity: 0.7;
}
@media screen and (max-width: 650px) {
  body {
    background-size: 400%;
  }
  .card {
    width: 45%;
  }
  .main {
    margin-left: 35px;
    padding: 5px;
  }
}

/* @keyframes color {
    0% {
      filter: hue-rotate(0deg);
    }
  
    100% {
      filter: hue-rotate(360deg);
    }
  } */
.card img {
  padding: 2px;
  border-radius: 20%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.text {
  align-self: center;
  margin-top: 2px;
}
@keyframes glowing {
  0% {
    background-color: rgba(220, 0, 0, 1);
    box-shadow: 0 0 5px #ce350f;
  }
  50% {
    background-color: #4ec0ec;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #f5e4b4;
    box-shadow: 0 0 5px #2ba805;
  }
}
.btn {
  animation: glowing infinite 2000ms;
  align-self: center;
  margin-bottom: 20px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.card:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

a {
  text-decoration: none;
  color: #ca7747;
}
.card_1 {
  background-color: #46e0c6;
}
.card_2 {
  background-color: #49ce75;
}
.card_3 {
  background-color: #a3ca47;
}
.card_4 {
  background-color: #caab47;
}
.card_5 {
  background-color: #cac847;
}
.card_6 {
  background-color: #ca9647;
}
.card_7 {
  background-color: #ca7747;
}
.card_8 {
  background-color: #d89daf;
}
